@model IEnumerable<PEA.Models.Salary>

<h2>Salarios de empleado @Model.FirstOrDefault()?.EmpNo</h2>


<a href="@Url.Action("Create", "Salary")" class="btn btn-primary">Agregar Salario</a>

<table class="table">
    <thead>
        <tr>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FromDate.ToShortDateString()</td>
                <td>@item.ToDate?.ToShortDateString()</td>
                <td>@item.Amount</td>
                <td>
     
                </td>
            </tr>
        }
    </tbody>
</table>