@model IEnumerable<PEA.Models.Salary>

<h2>Salarios de empleado @Model.FirstOrDefault()?.EmpNo</h2>


<a class="btn btn-primary mb-3"
   asp-controller="Salaries"
   asp-action="Create"
   asp-route-empNo="@Model.FirstOrDefault()?.EmpNo">
    Agregar Salario
</a>
<table class="table">
    <thead>
        <tr>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FromDate.ToShortDateString()</td>
                <td>@item.ToDate?.ToShortDateString()</td>
                <td>@item.Amount</td>
                <td>
     
                </td>
            </tr>
        }
    </tbody>
</table>